<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harquin.common.patient.PatientMapper">
	<resultMap type="com.harquin.common.patient.Patient" id="result">
		<result property="id" column="id"/>
		<result property="firstName" column="firstName"/>
		<result property="lastName" column="lastName"/>		
		<result property="followUpVisitDate" column="followUpVisitDate"/>
		<result property="lastVisitDate" column="lastVisitDate"/>
		<result property="location" column="location" />
		<result property="isActive" column="isActive" />
	</resultMap>
	
	<select id="getPatientByLocation" parameterType="com.harquin.common.location.Location" resultMap="result">
		select id, firstName, lastName, isActive, lastVisitDate, followUpVisitDate, location from patient where location = #{name}
	</select>
	
	<select id="getPatientById" parameterType="int" resultMap="result">
		select id, firstName, lastName, isActive, lastVisitDate, followUpVisitDate, location from patient where id = #{id}
	</select>
	
	<update id="updatePatient" parameterType="com.harquin.common.patient.Patient">
		update patient set firstName = #{firstName}, lastName = #{lastName}, isActive = #{isActive}, lastVisitDate = #{lastVisitDate}, followUpVisitDate = #{followUpVisitDate}, location = #{location} where id = #{id}
	</update>
	
	<insert id="insertPatient" useGeneratedKeys="true" keyProperty="id" parameterType="com.harquin.common.patient.Patient">
		insert into patient (firstName, lastName, isActive, lastVisitDate, followUpVisitDate, location) values (#{firstName}, #{lastName}, #{isActive}, #{lastVisitDate}, #{followUpVisitDate}, #{location});
	</insert>
	
	<delete id="deletePatient" parameterType="com.harquin.common.patient.Patient">
		delete from patient where id = #{id};
	</delete>
</mapper>
