<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harquin.common.instrument.InstrumentMapper">
	<resultMap type="com.harquin.common.instrument.Instrument" id="result">
		<result property="name" column="name"/>
	</resultMap>
	
	<select id="getInstruments" resultMap="result">
		select name from instruments;
	</select>
	
	<insert id="insertInstrument" parameterType="com.harquin.common.instrument.Instrument">
		insert into instruments (name) value (#{name});
	</insert>
	
	<delete id="deleteInstrument" parameterType="com.harquin.common.instrument.Instrument">
		delete from instruments where name = #{name};
	</delete>
</mapper>
