<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harquin.common.pastmedicalhistory.PastMedicalHistoryMapper">
	<resultMap type="com.harquin.common.pastmedicalhistory.PastMedicalHistory" id="result">
		<result property="name" column="name"/>
	</resultMap>
	
	<select id="getPastMedicalHistorys" resultMap="result">
		select name from past_medical_history;
	</select>
	
	<insert id="insertPastMedicalHistory" parameterType="com.harquin.common.pastmedicalhistory.PastMedicalHistory">
		insert into past_medical_history (name) value (#{name});
	</insert>
	
	<delete id="deletePastMedicalHistory" parameterType="com.harquin.common.pastmedicalhistory.PastMedicalHistory">
		delete from past_medical_history where name = #{name};
	</delete>
</mapper>
