<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harquin.common.nonverbalpain.NonVerbalPainMapper">
	<resultMap type="com.harquin.common.nonverbalpain.NonVerbalPain" id="result">
		<result property="name" column="name"/>
	</resultMap>
	
	<select id="getNonVerbalPains" resultMap="result">
		select name from non_verbal_pain;
	</select>
	
	<insert id="insertNonVerbalPain" parameterType="com.harquin.common.nonverbalpain.NonVerbalPain">
		insert into non_verbal_pain (name) value (#{name});
	</insert>
	
	<delete id="deleteNonVerbalPain" parameterType="com.harquin.common.nonverbalpain.NonVerbalPain">
		delete from non_verbal_pain where name = #{name};
	</delete>
</mapper>
