<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harquin.common.anticoagulant.AnticoagulantMapper">
	<resultMap type="com.harquin.common.anticoagulant.Anticoagulant" id="result">
		<result property="name" column="name"/>
	</resultMap>
	
	<select id="getAnticoagulants" resultMap="result">
		select name from anticoagulants;
	</select>
	
	<insert id="insertAnticoagulant" parameterType="com.harquin.common.anticoagulant.Anticoagulant">
		insert into anticoagulants (name) value (#{name});
	</insert>
	
	<delete id="deleteAnticoagulant" parameterType="com.harquin.common.anticoagulant.Anticoagulant">
		delete from anticoagulants where name = #{name};
	</delete>
</mapper>