<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harquin.common.mood.MoodMapper">
	<resultMap type="com.harquin.common.mood.Mood" id="result">
		<result property="name" column="name"/>
	</resultMap>
	
	<select id="getMoods" resultMap="result">
		select name from mood;
	</select>
	
	<insert id="insertMood" parameterType="com.harquin.common.mood.Mood">
		insert into mood (name) value (#{name});
	</insert>
	
	<delete id="deleteMood" parameterType="com.harquin.common.mood.Mood">
		delete from mood where name = #{name};
	</delete>
</mapper>
