<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harquin.common.frequency.FrequencyMapper">
	<resultMap type="com.harquin.common.frequency.Frequency" id="result">
		<result property="name" column="name"/>
	</resultMap>
	
	<select id="getFrequencys" resultMap="result">
		select name from frequency;
	</select>
	
	<insert id="insertFrequency" parameterType="com.harquin.common.frequency.Frequency">
		insert into frequency (name) value (#{name});
	</insert>
	
	<delete id="deleteFrequency" parameterType="com.harquin.common.frequency.Frequency">
		delete from frequency where name = #{name};
	</delete>
</mapper>
