<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harquin.common.bed.BedMapper">
	<resultMap type="com.harquin.common.bed.Bed" id="result">
		<result property="name" column="name"/>
	</resultMap>
	
	<select id="getBeds" resultMap="result">
		select name from bed_types;
	</select>
	
	<insert id="insertBed" parameterType="com.harquin.common.bed.Bed">
		insert into bed_types (name) value (#{name});
	</insert>
	
	<delete id="deleteBed" parameterType="com.harquin.common.bed.Bed">
		delete from bed_types where name = #{name};
	</delete>
</mapper>